.container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
}

.blueTitle {
  color: var(--blue-300);
}

.purpleTitle {
  color: var(--purple-300);
}

.countNumber {
  font-size: 0.75rem;
  background-color: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
}
